.main{
    height: 100vh;
    // display: flex;
    justify-content: center;
    // align-items: center;
}

navbar.navbar .navbar-brand a {
    font-size: 2rem;
    font-weight: bold; 
    height: 40px;
    text-transform: uppercase;
}