/* You can add global styles to this file, and also import other style files */
.main{
    height: 100vh;
    // display: flex;
    justify-content: center;
    // align-items: center;
}

.navbar-brand {
    font-size: 1 em;
    font-weight: bold; 
    text-transform: uppercase;
}